{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        #chart svg {
            height: 300px;
        }
    </style>
    <script>
        nv.addGraph(function () {
            var chart = nv.models.lineChart()
                .useInteractiveGuideline(true)
            ;

            chart.xAxis
                .axisLabel('Weekly period')
                .tickFormat(d3.format(',r'))
            ;

            chart.yAxis
                .axisLabel('Proportion of back jobs')
                .tickFormat(d3.format('.02f'))
            ;

            d3.select('#chart svg')
                .datum(data())
                .transition().duration(500)
                .call(chart)
            ;

            nv.utils.windowResize(chart.update);

            return chart;
        });

        function data() {
            var dataset = {{ dataset|safe }},
                cl = {{ cl|safe }},
                ucl = {{ ucl|safe }};

            return [
                {
                    values: dataset,
                    key: 'Weekly Back Job Proportion',
                    color: '#ff7f0e'
                },
                {
                    values: cl,
                    key: 'center line',
                    color: '#42d9f4'
                },
                {
                    values: ucl,
                    key: 'upper control limit',
                    color: '#f44292'
                }
            ];
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div id="chart">
                            <svg></svg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>P-bar: {{ cl_value|floatformat:2 }}</h5>
                        <h5>UCL: {{ ucl_value|floatformat:2 }}</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="thumbnail">
                    <a href="{% static 'main/src-reference.png' %}">
                        <img src="{% static 'main/src-reference.png' %}" alt="SRC Reference" style="width:100%">
                        <div class="caption">
                            <p>SRC Reference</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Date Range: </h5>
                <h6>{{ start_date|date }} - {{ end_date|date }}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="." method="get">
                    <div class="input-fields">
                        <div class="form-group">
                            <label for="graph-date"></label>
                            <input type="date" name="date" class="form-control" id="graph-date" required>
                        </div>
                    </div>
                    <div class="submit-btn float-right">
                        <input type="submit" value="Graph" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}